.hidden {
	display: none;
}

#children {
	padding-left: 20px;
	margin-right: 2px;
}

.entry {
	margin-top:1px;
	padding: 3px;
	max-width: 400px;
	border: black 1px solid;
}

.entry a {
	font-size: 80%;
}
